- side_bar_box "Did You Know?", :class => "help" do
  %p
    You can become a publisher.  All you have to do is publish
    = Merbunity::Publishable::PUBLISHABLES_TO_BE_PUBLISHER
    items.  These could be either a Screencast or a Tutorial.
    Once your a publisher, you can publish your own, and anyone else's work that is pending.
