%fieldset{ :for => :article}
  %ul
    %li
      =text_field :title, :label => "Title:"
    %li
      =text_area :description, :label => "Description:"
    %li
      =text_area :body, :label => "Body:"
