- @page_title = article_header
- @page_id = page_id

- unless @articles.blank?
  %ul#article-listing
    = partial :list_summary, :with => @articles, :as => "article"
- else
  %p.empty No entries available

