- @page_title = @article.title
- @page_id = page_id

.article
  - if !@article.published?
    .draft
      Draft
  %p.slug
    ="(#{@article.slug})"
  %p.description
    %p.description=  @article.description
  %p.body
    %p.content= @article.body
