#login_box
  - when_logged_in do
    = gravitar
    .details
      Logged In As
      %span
        = current_person.login
    .account_links
      %ul
        %li= link_to "Logout", url(:logout)
    
  - when_not_logged_in do
    .details{:class => "_logged_out"}
      Not Logged In
    .account_links
      %ul
        %li=link_to "Login", url(:login)
        %li=link_to "Signup", url(:new_person)
  