#login_box
  - when_logged_in do
    = gravatar
    %p#loginDetails
      Logged in as
      %strong= current_person.login
    %ul
      %li= link_to "Logout", url(:logout)
      %li= link_to "Change Password", url(:edit_password)
    
  - when_not_logged_in do
    %p  
      Not logged in
    %ul
      %li=link_to "Login", url(:login)
      %li=link_to "Signup", url(:new_person)
  