.comment
  %p.meta
    On
    = time_format(comment.created_at, "%B %d, %Y at %H:%M")
    = comment.owner.login
    says:
  .content
    .gravatar
      = gravatar(comment.owner, :size => 50 )
    %p.body
      = formatted(comment.body)
  %p.timestamp
