!header_border_color = #A4A096 
#header
  :color = !dark_brown
  :margin 20px auto 0 auto
  :width 824px
  :height 160px
  :position relative

  h1
    :background left top no-repeat url(/images/logo.gif)
    :border-right 1px solid black
    :border-color
      :right = !header_border_color
    :text-indent -1000em
    :letter-spacing -1000em
    :width 260px
    :height 53px
    :margin 0 15px 0 0
    :float left
  h2
    :font-weight bold
    :text-transform uppercase
    :margin 0 0 0 0
    :font-size 0.9em
    
  div.tagline
    :position absolute
    :left 280px
    :font-size 0.9em
    :width 18em
    :padding-top 8px
    
  #login_box
    :padding
      :left 20px
    :height 53px
    :float right
    :position relative
    :width 300px
    :border-left 1px solid black
    :border-color
      :left = !header_border_color

    img
      :position absolute
      :top 8px
    .details
      :position relative
      :width 110px
      :left 50px
      :height 45px
      :padding
        :left 5px
        :top 8px
      
      span  
        :display block
        :font-size 1.3em
        :font-weight bold
    ._logged_out
      :width 163px
      :text-align center
      :left 0px
    .account_links
      :position absolute
      :right 0px
      :top 0px
      :height 53px
      :padding
        :top 3px
        :left 8px
      :width 100px
      :border-left 1px solid black
      :border-color
        :left = !header_border_color

