/* Reset
*
  :font
    :size 1em
    :weight normal
  :text-align left
  :line-height 1
  :margin 0
  :padding 0
  
strong
  :font-weight bold
  
li
  :list-style-type none
  
/* Base styles
body
  :background
    :color = !light_grey
    :position center -45px
    :repeat no-repeat
    :image url(/images/page-bkg.gif)
  :font
    :size 72%
    :family "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif

/* Base Type
#main, #side
  p
    :line-height 1.3
    :margin-bottom 1.35em

#main
  h1
    :border-bottom
      :width 1px
      :style solid
      :color= !line
    :font
      :weight bold
      :size 3em
    :color= !dark_grey
    :padding 0 0 0.5em 0
    :margin 0 0 0.5em 0
