!almost_black = #111111
!medium_grey = #A3A29F
!dark_brown = #2E2D2A
!merbunity_blue = rgb(0,153,255)
!secondary = #555555
!link_color = rgb(227,84,48)

@import header.sass
@import forms.sass
@import login.sass
@import pagination.sass
@import item.sass
@import news.sass
@import screencasts.sass
@import layout.sass
@import box.sass

*
  :margin 0
  :padding 0
  :font
    :size 1em
    :weight normal
    
a, a:hover, a:visited
  :color = !link_color

strong
  :font-weight normal
  
li
  :list-style-type none
  
body
  :background #E5E1D3 top center no-repeat url(/images/page_bkg.gif)
  :color = !almost_black
  :font
    :family "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif
    :size 80%
    
#mainNav
  :background = !almost_black
  :padding 1em 15px
  :margin
    :bottom 1em
  :font-size 1.2em
  a
    :color white
    :text-decoration none
  li.current 
    a.current
      :color = !merbunity_blue
      :font-size 1.1em
    ul
      :font-size 0.9em
      :margin-left 1em
    
#content
  :background bottom left no-repeat url(/images/content_bkg.gif)
  :width 635px
  :margin 0 auto 2em auto
  :padding 0 235px 100px 0
  :position relative
  #content_box
    .content_header
      :background-color = !almost_black
      :font-size 2em
      :float left
      :padding
        :left 0.5em
        :right 0.5em
        :top 0.1em
        :bottom 0.1em
      :color rgb(229,225,211)
      :margin
        :bottom 0.6em
    br.clear
      :clear both
  / #side_content
  /   :padding 
  /     :left 3px
  /     :right 3px
      
.meta
  :font-size 0.9em
  :color grey
  :border
    :bottom 1px dotted grey

code
  :display block
  :width 80%
  :background black
  :color white
  :font-family "Arial"
  :font-size 1.1em
  :padding-left 1em
  :border 2px solid #222222

div.error, div.notice, div.success
  :padding 0.8em
  :margin-bottom 1em
  
.description
  :margin
    :top 0.4em
    :bottom 0.4em
  :font-size 0.9em
  :color = !secondary
  :line-height 1.6em
  :text-align justify

textarea.description    
  :height 5em
  :font-size 1.2em
  :color inherit

.body
  :font-size 1.2em
  :line-height 1.3em
  :text-align justify

.summary
  .description
    :font-size 1.3em
    :line-height 1.3em
    :color black

