#header {
  color: #2e2d2a;
  margin: 20px auto 0 auto;
  width: 824px;
  height: 160px;
  position: relative; }
  #header h1 {
    background: left top no-repeat url(/images/logo.gif);
    border-right: 1px solid black;
    border-color-right: #a4a096;
    text-indent: -1000em;
    letter-spacing: -1000em;
    width: 260px;
    height: 53px;
    margin: 0 15px 0 0;
    float: left; }
  #header h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 0 0;
    font-size: 0.9em;
    padding: 0.2em; }
  #header div.tagline {
    position: absolute;
    left: 280px;
    font-size: 0.9em;
    width: 18em;
    padding-top: 8px; }
  #header #login_box {
    padding-left: 20px;
    height: 53px;
    float: right;
    position: relative;
    width: 300px;
    border-left: 1px solid black;
    border-color-left: #a4a096; }
    #header #login_box img {
      position: absolute;
      top: 8px; }
    #header #login_box .details {
      position: relative;
      width: 110px;
      left: 50px;
      height: 45px;
      padding-left: 5px;
      padding-top: 8px; }
      #header #login_box .details span {
        display: block;
        font-size: 1.3em;
        font-weight: bold; }
    #header #login_box ._logged_out {
      width: 163px;
      text-align: center;
      left: 0px; }
    #header #login_box .account_links {
      position: absolute;
      right: 0px;
      top: 0px;
      height: 53px;
      padding-top: 3px;
      padding-left: 8px;
      width: 100px;
      border-left: 1px solid black;
      border-color-left: #a4a096; }

label {
  font-weight: bold;
  display: block; }

label.inline {
  display: inline; }

fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc; }

legend {
  font-weight: bold; }

label {
  font-size: 1.5em; }

input.text, input.title, textarea, select, .field.file {
  margin: 0.5em 0;
  border: 1px solid #bbb;
  font-family: inherit; }
  input.textfocus, input.titlefocus, textareafocus, selectfocus, .field.filefocus {
    border: 1px solid #666; }

input.text, input.title, input.password, .field.file {
  width: 98%;
  padding: 5px; }

input.title {
  font-size: 1.5em; }

textarea {
  width: 98%;
  height: 250px;
  padding: 5px;
  line-height: 1.5em; }

.error, .notice, .success {
  border: 2px solid #ddd; }

.error {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4; }

.notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324; }

.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880; }

.error a {
  color: #8a1f11; }

.notice a {
  color: #514721; }

.success a {
  color: #264409; }

button {
  display: block;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.5em; }

#login label {
  font-size: 1.5em; }
#login input.text, #login input.password {
  font-size: 2em;
  width: 15em; }
#login input.checkbox {
  width: 2em;
  height: 2em; }
#login button {
  height: 2em;
  width: 5em;
  font-size: 1.5em;
  margin-top: 0.5em; }

ul.page_links {
  overflow: hidden;
  float: right; }
  ul.page_links li {
    display: inline;
    float: left;
    margin-right: 1em; }

.item {
  background-color: #ffffff;
  padding: 1em;
  margin-bottom: 1.4em; }
  .item h1, .item h2, .item h3, .item h4, .item h5 {
    background-color: #616161;
    color: rgb(229,225,211);
    margin-top: 0.2em;
    margin-bottom: 0.3em; }
  .item h1 {
    font-size: 2em;
    padding: 0.5em; }
  .item h2 {
    font-size: 1.75em;
    padding: 0.5em; }
  .item h3 {
    font-size: 1.5em;
    padding: 0.4em; }
  .item h4 {
    font-size: 1.25em;
    padding: 0.3em; }
  .item h5 {
    font-size: 1em;
    padding: 0.2em; }
  .item h3.title {
    color: rgb(0,153,255);
    background-color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 0px; }
    .item h3.title a {
      color: inherit;
      font-size: inherit;
      text-decoration: inherit; }
  .item a.more, .item a.more:hover, .item a.more:visited {
    color: black;
    font-size: 0.8em; }
  .item ul, .item ol {
    margin-left: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    marker-offset: 1em; }
  .item ul li {
    list-style-type: disc; }
  .item ol li {
    list-style-type: decimal; }
  .item p {
    margin-bottom: 1em; }

.body p {
  margin-bottom: 1em; }

.download {
  padding: 0.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(213,208,196); }
  .download a {
    font-size: 1.5em; }

.field.file {
  background-color: white; }
  .field.file p {
    margin-top: 1em; }

#action_content {
  padding: 0px;
  width: 200px;
  position: absolute;
  right: 20px;
  top: 0px;
  float: right; }

#content_box {
  position: relative;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 45px;
  width: 630px;
  margin-left: 0px;
  background-color: rgb(163, 162, 159);
  padding-bottom: 30px;
  min-height: 550px; }

.footer {
  width: 800px;
  text-align: center;
  padding: 1em;
  margin: auto; }
  .footer ul {
    list-style-type: none;
    margin: 0px; }
    .footer ul li {
      display: inline;
      margin: 0px;
      padding: 0px; }

.box {
  border-bottom: 1px dotted black;
  padding-bottom: 1em; }
  .box h3 {
    background-color: #111111;
    color: rgb(229,225,211);
    padding: 0.2em;
    padding-left: 0.8em;
    font-size: 1em; }
  .box .box_content {
    padding: 0.3em;
    background-color: #a3a29f; }

#comments {
  background-color: white;
  padding: 1em;
  padding-top: 1em; }
  #comments h3 {
    padding: 0.3em;
    height: 1.5em;
    background-color: #898989;
    color: rgb(229,225,211);
    margin-bottom: 2em; }
  #comments .comment {
    border: 1px dotted black;
    border-color: rgb(227,84,48);
    margin-bottom: 2em;
    padding: 1em; }
  #comments textarea {
    height: 150px; }

.comment_count {
  color: #555555;
  font-size: 0.8em; }

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal; }

a, a:hover, a:visited {
  color: rgb(227,84,48); }

strong {
  font-weight: normal; }

li {
  list-style-type: none; }

body {
  background: #E5E1D3 top center no-repeat url(/images/page_bkg.gif);
  color: #111111;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 80%; }

#mainNav {
  background: #111111;
  padding: 1em 15px;
  margin-bottom: 1em;
  font-size: 1.2em; }
  #mainNav a {
    color: white;
    text-decoration: none; }
  #mainNav li.current a.current {
    color: rgb(0,153,255);
    font-size: 1.1em; }
  #mainNav li.current ul {
    font-size: 0.9em;
    margin-left: 1em; }

#content {
  background: bottom left no-repeat url(/images/content_bkg.gif);
  width: 678px;
  margin: 0 auto 2em auto;
  padding: 0 235px 100px 0;
  position: relative; }
  #content #content_box .content_header {
    background-color: #111111;
    font-size: 2em;
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    color: rgb(229,225,211);
    margin-bottom: 0.6em; }
  #content #content_box br.clear {
    clear: both; }

.meta {
  font-size: 0.9em;
  color: grey;
  border-bottom: 1px dotted grey; }

code {
  display: block;
  width: 80%;
  background: black;
  margin: auto;
  color: white;
  font-family: "Arial";
  font-size: 1.1em;
  padding: 0.5em;
  border: 2px solid #222222;
  margin-bottom: 0.5em;
  margin-top: 0.5em; }

div.error, div.notice, div.success {
  padding: 0.8em;
  margin-bottom: 1em; }

.description {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-size: 0.9em;
  color: #555555;
  line-height: 1.6em; }

textarea.description {
  height: 5em;
  font-size: 1.2em;
  color: inherit; }

.body {
  font-size: 1.2em;
  line-height: 1.3em; }

.summary .description {
  font-size: 1.3em;
  line-height: 1.3em;
  color: black; }

.note {
  background-color: #cbcac7;
  margin-bottom: 0.3em;
  padding: 0.5em; }

.tos h3 {
  font-size: 1.5em;
  margin-top: 1em; }

dl {
  position: relative; }
  dl dt {
    font-size: 1.2em;
    margin-bottom: 0.8em; }
  dl dd {
    width: 80%;
    position: relative;
    left: 2em;
    margin-bottom: 0.8em; }

ul.object_menu {
  list-style-type: none;
  overflow: hidden; }
  ul.object_menu li {
    margin: 0px;
    float: left;
    margin-right: 1em;
    position: relative; }
    ul.object_menu li button {
      border: none;
      background: none;
      padding: 0px;
      margin: 0px;
      color: rgb(227,84,48);
      text-decoration: underline;
      position: relative;
      top: -0.4em; }
