html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ul {
  list-style-type: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

h1 {
  font-size: 138.5%; }

h2 {
  font-size: 123.1%; }

h3 {
  font-size: 108%; }

h1,h2,h3 {
  margin: 1em 0; }

h1,h2,h3,h4,h5,h6,strong {
  font-weight: bold; }

abbr,acronym {
  border-bottom: 1px dotted #000;
  cursor: help; }

em {
  font-style: italic; }

blockquote,ul,ol,dl {
  margin: 1em; }

ol,ul,dl {
  margin-left: 2em; }

ol li {
  list-style: decimal outside; }

ul li {
  list-style: disc outside; }

dl dd {
  margin-left: 1em; }

th,td {
  border: 1px solid #000;
  padding: .5em; }

th {
  font-weight: bold;
  text-align: center; }

caption {
  margin-bottom: .5em;
  text-align: center; }

p,fieldset,table,pre {
  margin-bottom: 1em; }


input[type=text],input[type=password],textarea {
  width: 12.25em;
  *width: 11.9em; }

#page {
  width: 860px;
  margin: auto;
  margin-top: 0px;
  background-color: #ffffff;
  overflow: hidden; }

ul.site_navigation {
  margin-left: 0px;
  display: block;
  clear: both; }
  ul.site_navigation li {
    display: inline;
    float: left;
    border: 1px solid green; }
    ul.site_navigation li a {
      display: block;
      width: 6em;
      text-align: center; }

#main_content {
  padding: 1em;
  width: 600px;
  border: 3px dotted orange;
  float: left; }
  #main_content h2 {
    margin-top: 0px; }

#side_content {
  border: 2px groove purple;
  width: 218px;
  float: right;
  padding-top: 1em; }
  #side_content .box {
    width: 100%; }
    #side_content .box h3 {
      margin: 0px;
      text-align: center;
      background-color: #898c91; }
    #side_content .box ul {
      margin: 0px; }

#header {
  width: 100%;
  border: 1px solid blue;
  overflow: hidden; }
  #header h1 {
    margin-top: 0.5em;
    margin-bottom: 0px;
    margin-left: 1em;
    border: 1px solid red;
    float: left; }
  #header #login_box {
    background-color: #A3D3FF;
    display: block;
    margin: 1em;
    width: 300px;
    height: 40px;
    float: right; }

body {
  background-color: #c53631; }

label {
  display: block; }
