* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal; }

strong {
  font-weight: normal; }

li {
  list-style-type: none; }

body {
  background: #E5E1D3 top center no-repeat url(/images/page_bkg.gif);
  color: #111111;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 80%; }

#header {
  color: #2e2d2a;
  margin: 20px auto 0 auto;
  width: 824px;
  height: 160px; }
  #header h1 {
    background: left top no-repeat url(/images/logo.gif);
    border-right: 1px solid #A4A096;
    text-indent: -1000em;
    letter-spacing: -1000em;
    width: 260px;
    height: 53px;
    margin: 0 15px 0 0;
    float: left; }
  #header h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 0 0; }
  #header h2, #header p {
    font-size: 0.9em; }

#mainNav {
  background: #111111;
  width: 145px;
  padding: 1em 15px;
  position: absolute;
  right: 20px;
  top: 0; }
  #mainNav a {
    color: white !important;
    text-decoration: none !important; }

#content {
  background: bottom left no-repeat url(/images/content_bkg.gif);
  width: 635px;
  margin: 0 auto 2em auto;
  padding: 0 235px 50em 45px;
  position: relative; }
