


/* Reset */
* {
  font-size: 1em;
  font-weight: normal;
  text-align: left;
  line-height: 1;
  margin: 0;
  padding: 0; }

strong {
  font-weight: bold; }

li {
  list-style-type: none; }

/* Base styles */
body {
  background-color: #f1f1f1;
  background-position: center -45px;
  background-repeat: no-repeat;
  background-image: url(/images/page-bkg.gif);
  font-size: 72%;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; }

/* Base Type */
#main p, #side p {
  line-height: 1.3;
  margin-bottom: 1.35em; }

/* Layout */
#logo,
#wrapper {
  margin: 0 auto;
  width: 980px; }

#logo {
  background: 0 20px no-repeat url(/images/logo.gif);
  height: 110px;
  /* Hide text */
  letter-spacing: -1000em;
  text-indent: -1000em; }

#wrapper {
  background: white 720px 0 repeat-y url(/images/column-split.gif); }

#main, #side {
  padding-top: 1.5em; }

#main {
  padding-left: 20px;
  width: 700px;
  float: left; }

#side {
  padding-left: 20px;
  padding-right: 20px;
  width: 220px;
  float: right; }

#footer {
  width: 100%;
  clear: both; }

/* Navigation */
#navigation {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #00ccff;
  background: #f1f1f1;
  width: 100%;
  float: left; }
  #navigation li, #navigation a {
    float: left; }
  #navigation a {
    color: #4D4D4D !important;
    text-decoration: none !important;
    padding: 0.7em 1.2em; }
    #navigation a.current {
      background: #00ccff;
      color: white !important; }
  #navigation #login-link {
    float: right; }

/* Sidebar */
#side h2 {
  background: #0099ff;
  font-weight: bold;
  font-size: 1.7em;
  color: white;
  padding: 3px 4px;
  margin-bottom: 0.5em;
  float: left; }
#side p {
  width: 100%;
  float: left; }

/* Footer */
#footer {
  background: #E6E6E6 45px 2px no-repeat url(/images/footer-bkg.gif);
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #00ccff;
  padding: 28px 0 1em 0; }
  #footer h1 {
    background: #333333;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    padding: 3px 4px;
    margin: 0 0 0.5em 45px;
    float: left; }
  #footer p {
    font-size: 0.95em;
    color: #333333;
    margin: 0 0 1em 45px;
    display: block;
    clear: both; }

/* Home */
#home {
  background-position: center top;
  /* Reposition highlights */ }
  #home #logo {
    background-position: 0 60px;
    height: 175px; }
  #home #main, #home #side {
    background: no-repeat url(/images/home-bkg.gif);
    padding-top: 65px;
    margin-top: 8px; }
  #home #side {
    background-position: right top; }
  #home #main h2 {
    background: #ab004a;
    font-weight: bold;
    font-size: 2.4em;
    color: white;
    padding: 3px 4px;
    margin: 0 0 0.3em 80px;
    float: left; }
  #home #main p {
    margin-left: 80px;
    margin-right: 20px;
    clear: both; }
  #home #wrapper {
    padding-top: 18.4em;
    position: relative; }
  #home #navigation {
    position: absolute;
    left: 0;
    top: 0; }
  #home h2.highlights {
    position: absolute;
    left: -1000em; }
  #home ul.highlights {
    border-bottom: 1px solid #cccccc;
    background: white;
    margin-top: 8px;
    height: 16em;
    width: 100%;
    position: absolute;
    left: 0;
    top: 2.4em; }
    #home ul.highlights li {
      background: 80px 2em no-repeat;
      padding-left: 260px;
      padding-top: 3em;
      height: 13em;
      float: left;
      position: relative; }
    #home ul.highlights li.tutorial {
      background-image: url(/images/highlights/tutorial.gif); }
    #home ul.highlights h3 {
      font-size: 3.5em;
      font-weight: bold;
      color: #333333;
      line-height: 0.85;
      width: 540px; }
    #home ul.highlights p.meta {
      margin-top: 2em;
      color: #333333; }
      #home ul.highlights p.meta strong {
        text-transform: uppercase;
        display: block; }
    #home ul.highlights p.link a {
      width: 100%;
      height: 16em;
      position: absolute;
      left: 0;
      top: 0;
      /* Hide text */
      text-indent: -1000em;
      letter-spacing: -1000em; }
