- @page_title = "Home"
- @page_id = "home"
%h2.highlights Highlights
%ul.highlights
  %li.tutorial
    %h3 Clever and crazy meta-programming trix
    %p.meta
      %strong Latest tutorial
      by Daniel Neighman

    %p.link= link_to("View tutorial", "#")

  %li.screencast
    %h3 Building a DataMapper adapter
    %p.meta
      %strong Latest screencast
      by Daniel Neighman

    %p.link= link_to("View tutorial", "#")

  %li.event
    %h3 Mr Luke’s Party Fun-time Melon Jam Disco Set
    %p.meta
      %strong Latest event
      by Luke Sutton

    %p.link= link_to("View tutorial", "#")

%h2 Latest Additions

%div.addition.news
  %h3 This is the title of the news
  %p.type News Item
  %p.meta Added 27/12/2008 by Luke Sutton
  %p
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
    veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  %p.link Read more…

%div.addition.person
  %h3 This is the title of the news
  %p.type News Item
  %p.meta Added 27/12/2008 by Luke Sutton
  %p
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
    veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  %p.link Read more…

%div.addition.site
  %h3 This is the title of the news
  %p.type News Item
  %p.meta Added 27/12/2008 by Luke Sutton
  %p
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
    veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  %p.link Read more…
