- throw_content :for_header, "Tutorials"
- throw_content :for_atom_link, atom_link(url(:tutorials, :format => "atom"))
- throw_content :feed_url, "http://feeds.feedburner.com/Merbunity-Tutorials"
- page_title "Tutorials"

-if @tutorials.empty?
  .note
    There are no published tutorials.  Why not
    = link_to "make one", url(:new_tutorial)
- else
  = partial :summary, :with => @tutorials, :as => "tutorial"

= paginate_links(:tutorials, @page)
