- side_bar_box "Want to publish your news?", :class => "help" do
  %p
    To publish your news.  You need to be a publisher.  To be a publisher you'll need to have 
    = Merbunity::Publishable::PUBLISHABLES_TO_BE_PUBLISHER
    items published.  These could be either a Screencast or a Tutorial.