- side_bar_box "Got News?", :class => "help" do
  %p
    To publish your news.  You need to be a publisher.  To be a publisher you'll need to have 
    = Merbunity::Publishable.publishables_to_be_publisher
    items published.  These could be either a Screencast or a Tutorial.