-throw_content :for_header, (@news_item.title || "Got News?")
- page_title "Edit - #{@news_item.title}"

= error_messages_for @news_item

-form_for @news_item, :action => url(:news, @news_item), :class => "news" do
  =partial :form, :with => @news_item, :as => "news_item"
