- throw_content :for_header, "News"
- throw_content :for_atom_link, atom_link(url(:news, :format => "atom"))
- auto_discover_atom(url(:news, :format => "atom"))

= partial :news_item_summary, :with => @news_items, :as => "news_item"

= paginate_links(:news, @page)