-throw_content :for_header, "Got News?"


= error_messages_for @news_item

-form_for @news_item, :action => url(:news) do
  
  =text_control :title, :label => "Title"
  =preserve(text_area_control(:description, :label => "Description"))
  %p.note
    You can use textile markup for the body of your news article
  =preserve(text_area_control(:body, :label => "Body"))
  = submit_button "Publish News Article"