- throw_content :for_header do
  = @news_item.title

%div[@news_item]
  %p.date
    = time_format(@news_item.created_at)
  %p.description
    = @news_item.description
  .body
    =preserve(@news_item.display_body)