- throw_content :for_header do
  = @news_item.title

.item[@news_item]
  %p.meta
    = time_format(@news_item.created_at)
    | Reporter:
    = @news_item.owner.login
  %p.description
    = @news_item.description
  .body
    =preserve(@news_item.display_body)