%h1 New News Item 

= error_messages_for @article

= form_for @article, :action => resource(:news_items) do
  = partial :form

  %ul.buttons
    %li
      = submit "Save" 
    %li
      %a{:href => resource(:news_items)}Cancel

