%h1 New News Item 

= error_messages_for :news_item

= form_for(@news_item, :action => url(:news_items)) do
  = partial "articles/form"

  %ul.buttons
    %li
      = submit "Save News Item" 
    %li
      %a{:href => url(:news_items)}Cancel

