=form_for @person, :action => url(:merb_auth_passwords, @person), :method => :put do
  - unless @person.has_forgotten_password?
    = password_field :name => "current_password", :label => "Current Password"
  = password_field :password, :label => "Password"
  = password_field :password_confirmation, :label => "Password Confirmation"
  = submit "Save"