- throw_content :for_header, " - What's all this then?"
%p
  Welcome to Merbunity.  This is a community site for the
  = link_to "Merb", "http://merbivore.com"
  web framework.  There's some great tutorials and news here.  If we don't have what you're looking for, you can always contribute back to the community and write a tutorial or direct your own screencast.  This really is a community site, and relies on our community for all the good stuff.
-if !logged_in?
  %p
    You can get started right away.
    = link_to "Signup", url(:new_person)
    and help make Merb great.
