- throw_content :for_header, "Frequently Asked Questions"
.item{:class => "faq"}
  %dl
    %dt
      I clicked publish on my content but it doesn't show up.
    %dd
      When you sign up for an account you are not yet a publisher.  When you publish items, they take on a pending status, where they need
      to be published by a publisher.  If you'd like to become a publisher, you need to publish
      = Screencast.publishables_to_be_publisher
      Screencasts or Tutorials.
    %dt
      What can I do once I become a publisher
    %dd
      When your a publisher, you can publish your own work, and the work of anyone else that has pending items.  New menu items will appear
      that will allow you to view and publish others pending work.
