- throw_content :for_header, "Terms of Use"

.item{:class => "tos"}
  %h3 Terms Of Use
  %p
    Welcome to Merbunity.  Merbunity is a community site aimed at promoting, and providing information about Merb and related technologies.
    By accessing this site you (the "User") signify that you have read, and agree to be bound by these Terms Of User, whether or not you are a registered
    user of Merbunity.  We reserve the right, at our sole discretion to change, modify, and or delete portions of these Terms of Use at any time without further notice.  If we do this, we will post the changes to these Terms of Use on this page and will indicate at the top of this page the date these terms were last revised.  Your continued user of this service or the site after any such changes constitues your acceptence of the new Terms of Use.  If you do not agree to abide by
    these or any future Terms of Use, do not use or access (or continue to use or access) the SErvice or the Site.  It is your responsibility to regularaly check the Site to determine if there have been changes to these Terms of Use and review such changes.  References to Merbunity, merbunity.com refer to the site and subdomains of merbunity.com

  %h3 Eligibility
  %p
    Membership at Merbunity is intended for enthusiasts, professional or otherwise, who want to find out about Merb.  It is not intended for, and is prohibited to
    those who seek to promote ("SPAM") their services, unless otherwise indicated.  It will be at the sole discretion of Merbunity.com to decide content that may or may not be considered SPAM, and any content so viewed may be deleted without warning.  Users identified as SPAMers may be removed without warning or notification.
    
  %h3 Registration Data; Account Security
  %p
    We will not share your email address with anyone, except where required by law.  We may however make a restricted subset of the data that you provide as part of a public profile available publicly.  You are fully responsible for activity that occurs from your account and should take steps to retain your own privacy.
    
  %h3 User Posted Content
  %p
    You are solely responsible for all content published from your account.  You agree to grant merbunity.com copy-write on any content you publish, and agree that we may reproduce any and all content in any way we see fit, for any purpose that we see fit.  You should not post content that promotes excessively a service or website without permission.  It is at the sole discretion of merbunity.com that content stays on the site.  If content is posted, merbunity.com may decide, without warning to remove it if it is deemed outside the scope of the intention of the site this may be done without warning or notice.
  
  %h3 Copyright Complaints
  %p
    We respect the intellectual property rights of others, and we prohibit any information being posted against the wishes of the copy-write owner. If you believe your intellectual property rights have been breached please use our feedback form to raise your concerns.  We require written notification for any and all complaints, and will act accordingly to complaints received.
    
  %h3 Disclaimers
  %p
    Merbunity.com does not take any responsibility for content posted by it users.  Any content posted by the users should follow the Terms of Use, but we will not be held responsible for inappropriate user posted content.  
    Any content posted that infringes on anothers intellectual property is the responsibility of the user whose account it is posted from.
  %p  
    The site may be unavailable from time to time for maintenance or other reasons.  We assume no responsibility for any error, omission, interruption, deletion, defect, delay in operation, or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of User communications.  Merbunity is not responsible for any technical malfunction or other problems of any network service, computer systems, software issues or otherwise.  Merbunity will not be held responsible for any damage that may arise from downloading content from merbunity.com.
  %p
    This site and services are provided as is and without any warranty implied or otherwise.  Merbunity cannot guarantee and does not promise any specific results from the use of this site.  Merbunity does not guarantee that content will be free from errors or that it is even relevant to the sites aims.  You understand that you agree that any risk associated with using this service is at your sole discretion, and we are not held responsible for any damage of any kind that may result.
    
  %h3 Limitation on Liability
  %p
    In no event will merbunity, it's directors, employees or agents be liable to you or any third party for any inderect, consequential, exemplary, incidental, special or punitive damages, including for any lost profits, or lost data arising from your use of the site or the service, any platform applications or any of the site contnet or other materials on, accessed through or downloaded from the site, even if the company is aware or has been advised of the possibility of  such damages.  Notwithstanding anything to the contrary contained herein, the company's liability to you for any cause whatsoever, and regardless of the form of the action, will at all times be limited to the amount paid, if any, by you to the to exceed $1000.  You acknowledge that if no fees are paid to the company for the service, you shall be limited to injunctive  relief only, unless otherwise permitted by law, and shall not be entitled to damages of any kind from company, regardless of the cause of action.
  
  %h3 Termination
  %p
    Merbunity may terminate your membership, delete your profile, and any content or information that you have posted on the Site or through any Platform Application and/or prohibit you from using or accessing the Service or the Site or any Platform Application (or any portion, aspect or feature of the Service or the Site or any Platform Application) for any reason , or no reason, at any time in its sole discretion, with or without notice for any reason.  
    
  %h3 Indemnity
  %p
    You agree to indemnify and hold merbunity, its subsidiaries and affiliates, and each of the directors, officers, agents, contractors, partners and employees, harmless from and against any loss liability, claim, demand, damages, costs and expenses, including reasonable attorney's fees, arising out of or in connection with any User Content, any Third Party Applications, Software or Content you post or share on or through the Site (including through the Share Service), your use of the Service or the Site, your conduct in connection with the Service or the Site or with other users of the Service or the Site, or any violation of this Agreement or of any law or the rights of any third party.
    
  