%div{:class => "screencast summary item"}
  %h3.title
    = link_to screencast.title, url(:screencast, screencast)
  %p.meta
    - if screencast.published?
      = time_format(screencast.published_on)
    - else 
      - for_publishers do
        Status: Pending
    | 
    Author:
    = screencast.owner.login
          
  %p.description
    = (screencast.description || "").truncate(200)
        