%div{:class => "screencast summary"}
  %h3
    = link_to screencast.title, url(:screencast, screencast)
  %p.description
    = screencast.description.truncate(200)
  %p.owner
    Author:
    = screencast.owner.login
  - if screencast.published?
    %p.published_on
      Published On:
      = time_format(screencast.published_on)
  - else
    - for_publishers do
      %p.pending
        Status: Pending
        