- throw_content :for_header, "Screencasts"
- throw_content :for_atom_link, atom_link(url(:screencasts, :format => "atom"))
- throw_content :feed_url, "http://feeds.feedburner.com/Merbunity-Screencasts"
- page_title "Screencasts"

-if @screencasts.empty?
  .note
    There are no published screencasts.  Why not
    = link_to "make one", url(:new_screencast)
- else
  = partial :summary, :with => @screencasts, :as => "screencast"

= paginate_links(:screencasts, @page)
