- throw_content :for_header do
  = "Upload Your Screencast"
-page_title "New Screencast"

.errors
  = error_messages_for @screencast

.form
  -form_for @screencast, :action => url(:screencast, @screencast), :multipart => true do
    = partial :form, :with => @screencast, :as => "screencast"
