- throw_content :for_header, "Pending Screencasts"

- if @screencasts.empty?
  There are no Pending Screencasts.  Why not
  = link_to "make one", url(:new_screencast)
- else
  = partial :summary, :with => @screencasts, :as => "screencast"