- throw_content :for_header, @page_header.to_s
- page_title "Pending Screencasts"

.content_description
  %p{:class => "note"}
    These screencasts are waiting to be published by a person in the community that is a publisher.

- if @screencasts.empty?
  .note
    There are no Pending Screencasts.  Why not
    = link_to "make one", url(:new_screencast)
- else
  = partial :summary, :with => @screencasts, :as => "screencast"
